/* UNITY */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes rainbow {
    0%{background-position:0% 75%}
    50%{background-position:100% 25%}
    100%{background-position:0% 75%}
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* NAV STYLE */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    background: rgb(34,195,169);
    background: linear-gradient(153deg, rgba(34,195,169,1) 63%, rgba(45,253,128,1) 100%);
}

nav a{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1c523d;
    display: flex;

}

/* Logo team */
.logoteam{
    margin-left: 3%;
    display: flex;
    align-items: center;
}


nav ul{
    display: flex;
    gap: 10em;
    
}

.logostyle{
    width: 30px;
    height: auto;
}

.ref {
    margin-right: 7%;
}

/* dropdown set up*/
 .dropdown {
   float: left;
   overflow: hidden;
 }

/* dropdown button*/
 .dropdown .dropdown_button {
    border: none;
    outline: none;
    color: #1c523d;
    padding: 14px 16px;
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-color: inherit;
    display: flex;
 }

 /* gradient colour movement at hover  */
 .navbar a:hover, .dropdown:hover .dropdown_button {
    background: linear-gradient(to right, rgb(156,242,208),rgb(84, 142, 190), rgb(37, 104, 204));
    background-size: 3000% 3000%;

    -webkit-animation: rainbow 15s ease infinite;
    -z-animation: rainbow 15s ease infinite;
    -o-animation: rainbow 15s ease infinite;
    animation: rainbow 15s ease infinite;
    border-radius: 30px;
 }

  /* List of group members*/
 .Members {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }

 .Members a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
    display: flex;
 }

 .Members a:hover {
   background-color: #ddd;
 }
/* Display contents while hoving dropdown */
 .dropdown:hover .Members {
   display: block;
 }

  /* Set up mainpage */
.Mainpage{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    position: relative;
    display: inline-block;
}

.Mainpage h1{
    color: turquoise;
    font-weight: 900;
    text-align: center;
}

.Mainpage h2{
    color: #d61f1f;
    font-size: 20px;
    text-align: justify;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    width: 60%;
}

 /* Background image at mainpage */
.background_image {
    opacity: 0.3;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    border-radius: 40px;

}

 /* Design content in Group Profile page */
.GroupProfile1 {
    margin-top: 30px;
    background: rgb(240, 189, 95);
    background: linear-gradient(153deg, rgb(245, 183, 69) 0%, rgba(242,207,142,1) 28%, rgba(252,252,252,1) 60%);
    text-align: center;
    align-items: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.GroupProfile1 h1{
    color: #c29d53;
    text-align: left;
}

.block_1{
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    width: 1065px; 
    height:1px; 
    background: rgb(0, 0, 0);
}

.block_2{
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    width: 1065px; 
    height:1px; 
    background: rgb(0, 0, 0);
}

.GroupProfile1 h2{
    color: #8f691e;
    text-align: left;
}

.GroupProfile1 p{
    color: #5a471c;
    text-align: justify;
}

.GroupProfile2 {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}


.GroupProfile2 p{
    color: #3b2b04;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.result_image img{
    margin-top: 60px;
    width: 300px;
    height: auto;
    z-index: -1;
    display: inline;
    float: left;
}

.result_image2 img{
    width: 600px;
    height: auto;
    display: inline;
    float: right;
    
}

.result_image3 img{
    width: 700px;
    height: auto;
    display: inline;
}

 /* Copyright at the footer of each page */
.copyright {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
}

/* Interview page */
.Interview{
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

.Interview h1{
    color: #ceb07d;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 5px 2px rgb(177, 37, 21);
    font-weight: 900;
    text-transform: uppercase;
}

.Interview h2{
    color: #d69d2b;
    text-align: left;
    margin-top: 20px;
}

.Interview p{
    color: #96896b;
    text-align: justify;
}

.Project{
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

 /* Project page  */
.Project h1{
    color: #d69d2b;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 2px 2px rgb(177, 37, 21);
    font-weight: bold;
}

.Project h2{
    color: #d69d2b;
    text-align: left;
    margin-top: 20px;
}

.Project h3{
    margin-top: 10px;
    color: #d69d2b;
    text-align: left;
}

.Project p{
    color: #96896b;
    text-align: justify;
}

 /* IT Technologies page  */
.IT_Technologies{
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

.IT_Technologies h1{
    color: #C4C08D;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 5px 2px rgb(110, 1, 74);
    font-weight: bold;
}

.IT_Technologies h2{
    color: #9c9225;
    text-align: left;
    margin-top: 20px;
}

.IT_Technologies h3{
    margin-top: 10px;
    color: #8DC43F;
    text-align: left;
}

.IT_Technologies p{
    color: #5E5C44;
    text-align: justify;
}



